@import "colors";
@import "sizes";

.tts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  .form-element {
    width: 100%;
  }
}

.dropdown-container {
  display: flex;
  gap: 30px;
  @media (max-width: 750px) {
    flex-direction: column;
    gap: 0;
  }
}

app-dropdown {
  width: 100%;
}

.file-upload.form-element { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-bottom: 1vw;
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: normal;
    gap: 20px;
  }
}

.progress-bar-container {
  height: 43px;
  width: 100%;
  p {
    padding-top: 5px;
    color: $label-text-color;
  }
}

.file-selected {
  background-color: lighten(desaturate($primary, 15%),10%);
}

.mat-information {
  display: flex;
  align-items: center;
  color: lighten(desaturate($primary, 15%),10%); //second option #607D8B
}

.mat-information mat-icon {
  margin-right: 8px;
  @media (max-width: 750px) {
    width: 35px;
  }
  @media (max-width: 400px) {
    width: 45px;
  }
}

// buttons

.submit-btn {
  pointer-events: auto !important; // to turn on tooltip on disabled button
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  @media (max-width: 750px) {
    gap: 5px;
  }
  @media (max-width: 400px) {
    flex-direction: column;
    align-items: normal;
  }
}

.app-button {
  width: $btn-130;
  @media (max-width: 400px) {
    width: 100%;
  }
}