.content {
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  user-select: none;
}

.content > div {
  max-width: 600px; 
}

.content img {
  width: 100%;
}

.content h2 {
  margin-top: 60px;
  font-size: 25px;
}
