@import "colors";

mat-form-field {
  width: 100%;
}

mat-icon {
  cursor: pointer;
  float: right;
  margin-left: 8px; /* Spacing between the text and icon */
  color: $color-blue-gem;
  transition: transform 0.3s ease-in-out, color 0.3s ease;

  &:hover {
    color: lighten(adjust-hue($color-blue-gem, 10deg), 10%);
    transform: scale(1.2);
  }
  &.pause {
    color: lighten(adjust-hue($color-blue-gem, 10deg), 20%);
  }
}