<div class="contact-layout content">
    <div class="contacts-container">
        <h2>Contact Us</h2>

        <ul>
            <li><span class="material-icons" aria-label="Email">email</span><a href="mailto:everything.to.speech@gmail.com">everything.to.speech&#64;gmail.com</a></li>
            <li><span class="material-icons" aria-label="Telegram">telegram</span><a href="https://t.me/yev_tts" target="_blank" rel="noopener noreferrer">yev_tts</a></li>
            <li><span class="material-icons" aria-label="Location">location_on</span><address>50065 Kryvyi Rih, Ukraine</address></li>
        </ul>
    </div>

    <div class="svg-background"></div>
</div>
