# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/TextToSpeech.Web"
    schedule:
      interval: "weekly"
    target-branch: "dev"
    versioning-strategy: increase
    groups:
      angular:
        applies-to: version-updates
        patterns:
          - "@angular*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "nuget"
    directories:
      - "/TextToSpeech.Api"
      - "/TextToSpeech.Core"
      - "/TextToSpeech.Infra"
      - "/TextToSpeech.UnitTests"
      - "/TextToSpeech.IntegrationTests"
      - "/TextToSpeech.SeleniumTests"
    schedule:
      interval: "weekly"
    target-branch: "dev"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "Selenium.WebDriver.ChromeDriver"
        update-types: ["version-update:semver-minor"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "dev"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "weekly"
    target-branch: "dev"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "docker-compose"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "dev"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]