.contact-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-container {
    width: 30%;
    margin: 5rem auto;
    padding: 2.3rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // subtle shadow for depth
    border-radius: 8px;
    min-width: 250px;

    h2 {
        color: #333; // todo header color
        margin-bottom: 1.5rem;
        text-align: center;
    }

    li {
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 1rem;

        a,
        .address {
            margin-left: 1rem;
        }

        a {
            color: #0056b3; // todo link color
            text-decoration: none;
        }

    }
}

.svg-background {
    background-image: url('../../assets/svg/undraw_cat_epte.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 35%;
    min-width: 300px;
    pointer-events: none;
    user-select: none;

    @media (max-width: 768px) {
        height: 200px;
    }

    @media (max-width: 500px) {
        height: 100px;
    }
}
