@use 'mixins/containers' as containers;

.contact-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts-container {
    @include containers.white-rounded-container;
    width: 30%;
    margin: 5rem auto;
    min-width: 250px;

    h2 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    li {
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 1rem;

        a,
        .address {
            margin-left: 1rem;
        }
    }
}

.svg-background {
    background-image: url('../../assets/svg/undraw_cat_epte.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 35%;
    min-width: 300px;
    pointer-events: none;
    user-select: none;

    @media (max-width: 768px) {
        height: 200px;
    }

    @media (max-width: 500px) {
        height: 100px;
    }
}
