@use 'mixins/containers' as containers;

.contact-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    min-height: 150px;
}

.contacts-container {
    @include containers.white-rounded-container;
    width: 90%;
    max-width: 600px;
    margin-bottom: 2rem; 

    h2 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    li {
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 1rem;

        a,
        .address {
            margin-left: 1rem;
        }
    }
}

.svg-background {
    background-image: url('../../assets/svg/undraw_cat_epte.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%; // Same width as contacts-container for consistency
    max-width: 600px; // Control the maximum size of the SVG
    height: auto; // Allow the height to adjust based on the width
    margin-bottom: 2rem;
    min-height: 300px; 

    pointer-events: none;
    user-select: none;

    @media (max-width: 768px) {
        height: 200px;
    }

    @media (max-width: 500px) {
        height: 100px;
    }
}
