# EMAIL
EmailConfig__EmailTo=someone@example.com
EmailConfig__EmailFrom=someone@example.com
EmailConfig__EmailFromPassword="aaaa bbbb cccc dddd"

# NARAKEET
NarakeetConfig__ApiUrl=https://api.narakeet.com
NarakeetConfig__ApiKey=<narakeet-api-key>

# ELASTICSEARCH
ElasticsearchConfig__Url=http://elasticsearch:9200
ElasticsearchConfig__Username=elastic
ElasticsearchConfig__Password=elastic-password

# POSTGRES
POSTGRES_USER=dev
POSTGRES_DB=tts
POSTGRES_PASSWORD=db-password
POSTGRES_EXPOSED_PORT=5433
ConnectionStrings__DefaultConnection=User ID=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};Host=db;Port=5432;Database=${POSTGRES_DB};Pooling=true;Include Error Detail=true;

# JWT
JwtConfig__Issuer=TextToSpeech
JwtConfig__Audience=TextToSpeech.Web
JwtConfig__SigningKey=<base64-encoded-signing-key>
JwtConfig__GuestLifetimeMinutes=30

# RabbitMQ
RABBITMQ_USER=tts
RABBITMQ_PASSWORD=local-development-only

# OTHER
CERTS_PATH=./TextToSpeech.Web/nginx/certs
ConnectionStrings__RedisConnection='redis:6379,allowAdmin=true'
AppDataPath=/app/data
OPENAI_API_KEY=<openai-api-key>
ELEVENLABS_API_KEY=<elevenlabs-api-key>
IMAGE_TAG_VERSION=local
ANGULAR_PORT=4000
ASPNETCORE_ENVIRONMENT=Staging
ANGULAR_ENVIRONMENT=staging
