name: tts

services:
  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
      cache_from:
        - alikberova/texttospeech.api:${IMAGE_TAG_VERSION}
      args:
        API_NAME: TextToSpeech.Api
    image: alikberova/texttospeech.api:${IMAGE_TAG_VERSION}
    env_file: .env
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      IsTestMode: ${IsTestMode}
      ASPNETCORE_URLS: "http://+:80"
    container_name: api
    ports:
      - "7058:80"
    networks:
      - proxy_elk
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  web:
    build:
      context: TextToSpeech.Web
      dockerfile: ../docker/web.Dockerfile
      args:
        ANGULAR_ENVIRONMENT: ${ANGULAR_ENVIRONMENT}
      cache_from:
        - alikberova/texttospeech.web:${IMAGE_TAG_VERSION}
    image: alikberova/texttospeech.web:${IMAGE_TAG_VERSION}
    container_name: web
    ports:
      - "80:80" # redirects to https in nginx
      - "${ANGULAR_PORT}:443" # for tests ANGULAR_PORT should be the same as in selenium tests; 443 for prod
    volumes:
      - "${CERTS_PATH}/fullchain.pem:/etc/nginx/certs/fullchain.pem:ro"
      - "${CERTS_PATH}/privkey.pem:/etc/nginx/certs/privkey.pem:ro"
    networks:
      - proxy_elk
    depends_on:
      api:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    container_name: redis
    volumes:
      - redis-data:/data
    networks:
      - proxy_elk
    restart: always

  db:
    image: postgres:18-alpine
    container_name: db
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - proxy_elk
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  proxy_elk:
    external: true
    name: elk

volumes:
  redis-data:
  db-data:
