$color-vivid-magenta: #d600aa; //secondary
$color-deep-fuchsia: #c904ae;
$color-bright-plum: #b10cb6;
$color-rich-lilac: #ab0eb8;
$color-royal-purple: #8c18c1;
$color-dark-orchid: #861ac3;
$color-indigo-dye: #6e21cb; //tertiary
$color-electric-indigo: #512bd4;
$color-blue-gem: #4b39e3;
$color-deep-sapphire: #09246b;
$color-dark-blue-gray: #17123b;
$color-antique-bronze: #b78f3a;
$color-mustard-gold: #c1a818;
$color-lemon-curry: #abd600;

$gradient-soft-dawn: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$gradient-vibrant-sunset: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);