<mat-form-field>
    <mat-label>Select {{heading}}</mat-label>
    <mat-select [(ngModel)]="selectedIndex" [id]="id" (selectionChange)="onSelectionChange()">
        <mat-option *ngFor="let item of dropDownList; let i = index" [value]="item.id">
            <mat-icon
                *ngIf="matIcon"
                (click)="onIconClick($event)"
                [attr.data-index]="i"
                [class]="getMatIconClass(item)">
                    {{ getMatIconName(item) }}
            </mat-icon>
            {{ item.optionDescription }}
        </mat-option>
    </mat-select>
</mat-form-field>