@import "colors";
@import "sizes";

.footer {
  background-color: $footer-background-color;
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  gap: 10px;
}

.footer-content span, .footer-content a {
  font-size: 0.9rem;
  color: $light-gray;
}

.footer-content a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: $white;
}

@media screen and (max-width: 850px) {
  .footer-content {
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    height: auto;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px;
  }
}
