@use 'breakpoints';
@use 'colors';
@use 'sizes';

.footer {
  background-color: colors.$footer-background-color;
  height: sizes.$footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  gap: 10px;
}

.footer-content span, .footer-content a {
  font-size: 0.9rem;
  color: colors.$light-gray;
}

.footer-content a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: colors.$white;
}

@include breakpoints.resize(breakpoints.$m) {
  .footer-content {
    max-width: 600px;
  }
}

@include breakpoints.resize(breakpoints.$s) {
  .footer {
    height: auto;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px;
  }
}