@import "colors";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $background-color;
}

 h1, h2, h3, h4 {
  color: $heading-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

.content {
  height: 100%;
  background: inherit !important;
}

//todo колесо очікування: https://cssgradient.io/gradient-backgrounds/
// font-family: 'Comfortaa', sans-serif; //maybe buttons
// font-family: 'Noto Sans Display', sans-serif;
