:root {
    --color-primary: #d600aa;
    --color-secondary: #c904ae;
    --color-tertiary: #b10cb6;
    --color-quaternary: #ab0eb8;
    --color-quinary: #8c18c1;
    --color-senary: #861ac3;
    --color-septenary: #6e21cb;
    --color-octonary: #512bd4;
    // --color-background: #ffffff;

    --color-11: #4b39e3;
    --color-22: #09246b;
    --color-33: #17123b;
    --color-44: #673ab7; //deep purple amber theme
    --color-77: #b78f3a;
    --color-88: #c1a818;
    --color-99: #abd600;
    --gradient-1: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  }

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

//todo колесо очікування: https://cssgradient.io/gradient-backgrounds/
// font-family: 'Comfortaa', sans-serif; //maybe buttons
// font-family: 'Noto Sans Display', sans-serif;
