$header-height: 64px;
$footer-height: 70px;
$desktop-container-padding: 25px;
$mobile-container-padding: 13px;

$desktop-container-height: calc(100vh - $header-height - $footer-height - $desktop-container-padding * 2); // x 2 for top and bottom
$mobile-container-height: calc(100vh - $header-height - $mobile-container-padding * 2);

$quarter-vw: 25vw;
$quarter-vh: 25vh;

$half-vw: 50vw;
$half-vh: 50vh;

$triple-quarter-vh: 75vh;
$triple-quarter-vw: 75vw;

$btn-130: 130px