@import "colors";
@import "sizes";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $background-color;
}

 h1, h2, h3, h4 {
  color: $heading-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

.content {
  min-height: $desktop-container-height;
  background: inherit !important;
  padding: $container-padding;
}

.snackbar {
  margin-bottom: 80px !important;
}

.snackbar-success {
  --mdc-snackbar-container-color: #{$snackbar-color--success};
  --mat-snack-bar-button-color: #{$snackbar-color--success-action};
}

.snackbar-error {
  --mdc-snackbar-container-color: #{$snackbar-color--error};
}

:root {
  --mat-toolbar-mobile-height: #{$header-height}; // override from 56 because of white strip
}

@media (max-width: 600px) {
  .snackbar {
    margin-bottom: 8px !important; // use default value when the footer is rebuilt into a column
  }
  .content {
    min-height: 100vh;
    padding: 13px;
  }
}
