.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  height: 100vh;
}
  
.login-card {
  padding: 20px;
  background-color: var(--color-octonary);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  color: var(--color-background);
}

.input-field {
  margin-bottom: 16px;
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary:hover {
  background-color: var(--color-secondary);
}