@import "colors";

:host {
    display: block;
    position: relative;
    width: 200px;
    height: 45px;
    width: 50%; /* 50% width of the host element */
  }
  
input[type="checkbox"] {
  display: none; 
}

.toggle-button-switch {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 50%; /* Use 50% of parent width */
  height: calc(100% - 0.2rem); /* Height minus offset */
  background-color: $white;
  border-radius: 20px;
  cursor: pointer;
  z-index: 100;
  transition: left 0.3s;
  user-select: none;
  line-height: 2.8rem;
  font-family: Lato, sans-serif;
  font-size: medium;
  font-weight: bold;
  color: $color-vivid-magenta;
  text-align: center;
}

.toggle-button-container {
  overflow: hidden;
  background: linear-gradient(to right, $color-vivid-magenta, $color-indigo-dye);
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s;
  float: left;
  width: 100%;
  height: 100%;
}

input[type="checkbox"]:checked ~ .toggle-button-switch {
  left: calc(50% - 0.1rem);
}

input[type="checkbox"]:checked ~ .toggle-button-container {
  background: linear-gradient(to right, $color-vivid-magenta, $color-indigo-dye);
}