@import "colors";
@import "sizes";

mat-toolbar {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu-items {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-button {
  display: none;
}

.sidenav-container {
  margin-top: $header-height;
}

.sidenav {
  width: 250px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.logo-text {
  letter-spacing: 3.1px;
  line-height: 1.4;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 18px;
}

.slogan-text {
  letter-spacing: 1.6px;
  line-height: 1.4;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 16px;
}

.logo-stripe {
  width: 100%;
  height: 2px;
  background: $white;
}

@media (max-width: 768px) {
  .menu-items {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
