<mat-toolbar color="primary">

  <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="logo-container" (click)="redirectToHome()">
    <span class="logo-text">text to speech</span>
    <div class="logo-stripe"></div>
    <span class="slogan-text">everything to speech</span>
  </div>

  <span class="menu-items">
    <button mat-button *ngFor="let item of menu" [routerLink]="item.route">{{ item.name }}</button>
  </span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of menu" [routerLink]="item.route">{{ item.name }}</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Main content  -->
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
