<form class="tts-form content" (ngSubmit)="onSubmit()">

  <div class="dropdowns form-element">
    <app-dropdown
      [label]="'Select voice'"
      [options]="voices"
      [selectedOption]="selectedVoice"
      [matIcon]="icons.playCircle"
      [clickedMatIcon]="clickedMatIcon"
      (iconClick)="playVoiceSample($event.event, $event.index)">
    </app-dropdown>
  </div>

  <div class="file-upload form-element">
    <button type="button" mat-raised-button color="primary" (click)="fileInput.click()"
    [ngClass]="{'file-selected': uploadedFile}">Choose File</button>
    <input hidden #fileInput type="file" (change)="onFileSelected($event)" accept="{{ acceptableFileTypes.join(',') }}"
           aria-label="Upload File"
           id="upload-input"/>
    <mat-error *ngIf="warnedMaxInputLength">The file is too large. Cannot process file that exceeds {{maxInputLength | FormatMaxInputLengthPipe}} characters </mat-error>
    <div class="mat-information" *ngIf="!uploadedFile">
      <mat-icon>info</mat-icon>
      <span>Ready to turn your PDFs and TXTs into speech! Just drop them here</span>
    </div>
    <div>
      <span *ngIf="uploadedFile">{{ uploadedFile.name }}</span>
      <button mat-button *ngIf="uploadedFile" (click)="clearFileSelection()" color="warn"
              aria-label="Clear selected file">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  <mat-form-field class="form-element">
    <mat-label>Setup speed</mat-label>
    <input matInput type="number" min="0.5" max="4" step="0.1" [(ngModel)]="voiceSpeed" name="speed" />
  </mat-form-field>

  <div class="progress-bar-container">
    <mat-progress-bar *ngIf="isTextConversionLoading" mode="indeterminate"></mat-progress-bar>
  </div>

  <button mat-raised-button color="primary" class="form-element submit-btn" [disabled]="!uploadedFile"
    [matTooltip]="uploadedFile || isSpeechReady ? '' : 'You need to select file first'">Submit
  </button>

  <a mat-raised-button color="accent" class="form-element" id="download" [href]="audioDownloadUrl" download
     [disabled]="!isSpeechReady">
    Download
  </a>

</form>
