<div class="login-container content">
  <div class="svg-background"></div>

  <div class="login-card">
    <toggle-button (changed)="onToggleChange($event)" [isRegister]="isRegister" role="button"
                   aria-label="Toggle Registration/Login">
    </toggle-button>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" autocomplete="on">
      <mat-form-field class="input-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName" name="username" placeholder="Username" required>
        <mat-error *ngIf="authForm.get('userName')?.hasError('invalid')">Please enter a correct user name</mat-error>

      </mat-form-field>

      <mat-form-field class="input-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" name="password" placeholder="Password" required
               [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword"
                  aria-label="Toggle Password Visibility">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="authForm.get('password')?.hasError('invalid')">{{authForm.get("password")?.getError("invalid").message}}</mat-error>
      </mat-form-field>

      <button mat-raised-button class="button-primary" type="submit">{{ buttonLabel }}</button>
    </form>
  </div>
</div>
