<form class="tts-form" >
    <mat-form-field class="form-element">
      <mat-label>Select voice</mat-label>
      <mat-select [(ngModel)]="selectedVoice" name="selectedVoice">
        <mat-option *ngFor="let voice of voices" [value]="voice.name">
          {{ voice.name }}
          <mat-icon class="play-icon" (click)="playVoiceSample($event, voice.name, speed)">play_circle</mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="file-upload form-element">
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
      <input hidden #fileInput type="file" (change)="onFileSelected($event)" accept=".pdf,.txt"/>
      <div>
        <span *ngIf="chosenFileName">{{ chosenFileName }}</span>
        <button mat-button *ngIf="chosenFileName" (click)="clearFileSelection()" color="warn">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  
    <mat-form-field class="form-element">
      <mat-label>Setup speed</mat-label>
      <input matInput type="number" min="0.5" max="4" step="0.1" [(ngModel)]="speed" name="speed"/>
    </mat-form-field>

  <button mat-raised-button color="primary" class="form-element">Submit</button>
  <button
    mat-raised-button
    color="accent"
    class="form-element"
    [disabled]="!chosenFile"
  >
    Download
  </button>
</form>
